<header>
  <h1>🌿 Save Mother Nature</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/thoughts">Thoughts</a>
    <a href="/resources">Resources</a>
    <a href="/get-involved">Get Involved</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
